In [1]:
import sqlite3 as sql
import pandas as pd

In [21]:
df = pd.read_csv('data/motor_data11-14lats.csv', sep = ',' )

In [22]:
df

,SEX,INSR_BEGIN,INSR_END,EFFECTIVE_YR,INSR_TYPE,INSURED_VALUE,PREMIUM,OBJECT_ID,PROD_YEAR,SEATS_NUM,CARRYING_CAPACITY,TYPE_VEHICLE,CCM_TON,MAKE,USAGE,CLAIM_PAID
0,0,08-AUG-13,07-AUG-14,08,1202,519755.22,7209.140,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
1,0,08-AUG-12,07-AUG-13,08,1202,519755.22,7203.890,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
2,0,08-AUG-11,07-AUG-12,08,1202,519755.22,7045.804,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
3,0,08-JUL-11,07-AUG-11,08,1202,519755.22,287.250,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
4,0,08-AUG-13,07-AUG-14,08,1202,285451.24,4286.900,5000029901,2010.0,4.0,7.0,Pick-up,2494.0,TOYOTA,Own Goods,19894.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293532,2,11-AUG-12,10-AUG-13,88,1201,0.00,577.700,5000047311,1985.0,4.0,NaN,Automobile,1295.0,TOYOTA,Private,NaN
293533,2,11-AUG-11,10-AUG-12,88,1201,0.00,695.318,5000047311,1985.0,4.0,NaN,Automobile,1295.0,TOYOTA,Private,NaN
293534,2,01-JUN-13,31-MAY-14,13,1201,250000.00,4778.450,5000949222,1993.0,4.0,NaN,Automobile,1295.0,TOYOTA,Private,NaN
293535,0,08-JUL-12,07-JUL-13,85,1202,0.00,1057.427,5000049231,2017.0,2.0,0.0,Truck,4570.0,ISUZU,General Cartage,NaN
293536,0,08-JUL-11,07-JUL-12,85,1202,0.00,1001.537,5000049231,2017.0,2.0,0.0,Truck,4570.0,ISUZU,General Cartage,NaN

In [23]:
#Crear columna Id
df['Id'] = range(1, len(df) + 1)

In [24]:
con = sql.connect("data/Base_db.sqlite") #esto crea una nueva base dentro de data y si ya existe solo la llama.
# cuando creo una coneccion estoy creando un objeto con metodos.

#activa el metodo cursor que permite ejecutar codigo de sql
cursor = con.cursor()

In [25]:
# subir el DataFrame en SQL
df.to_sql('Seguros_de_autos', con, if_exists='replace', index=False)

293537

In [26]:
#consultar las tablas que tenemos
cursor.execute(
    '''
    SELECT tbl_name
    FROM sqlite_master
    WHERE type = 'table'
    '''
)

#cursor.fetchall() lo que hace es consultar las tablas que tenemos
print(cursor.fetchall())

[('Seguros_de_autos',)]

In [27]:
# Crear datos nulos en la columna PREMIUM para filas con un 9 en su Id
cursor.execute("""
--Seleccionar la tabla Seguros_de_autos para modifica
UPDATE Seguros_de_autos
SET PREMIUM = CASE
    WHEN Id LIKE '%9%' THEN NULL
    ELSE PREMIUM
END

""")
con.commit()

In [ ]:
# Crear datos nulos en la columna PREMIUM para filas con un 9 en su Id
cursor.execute("""
--Seleccionar la tabla Seguros_de_autos para modifica
UPDATE Seguros_de_autos
SET PREMIUM = CASE
    WHEN Id LIKE '%9%' THEN NULL
    ELSE PREMIUM
END

""")
con.commit()

In [48]:
#Agregar columna rasgo_asegurado en la tabla Seguros_de_autos
cursor.execute("""
ALTER TABLE Seguros_de_autos
ADD COLUMN rango_asegurado VARCHAR(50);

""")

In [61]:
# Discretice la variable INSURED_VALUE
cursor.execute("""
--Seleccionar la tabla Seguros_de_autos para modifica
UPDATE Seguros_de_autos
SET rango_asegurado = CASE
    WHEN INSURED_VALUE < 1000 THEN '1e3'
    WHEN INSURED_VALUE >= 1000 AND INSURED_VALUE < 1000000 THEN '1e6'
    WHEN INSURED_VALUE >= 1000000 AND INSURED_VALUE < 1000000000 THEN '1e9'
    ELSE '1e12'
END;

""")
con.commit()

# AgrupaciÃ³n Grupo 1

In [ ]:
#Crea tabla temporal del los posibles grupos de las combinaciones de las columas
cursor.execute("""
-- Tabla temporal para guardar el promedio de la agrupaciÃ³n
CREATE TEMPORARY TABLE agru_prom AS
SELECT
    SEX,
    PROD_YEAR,
    SEATS_NUM,
    rango_asegurado,
    AVG(PREMIUM) AS prom_PREMIUM 
    -- Guarda los valores en esta columna de los promedio por grupo
    -- Es el promedio para cada grupo de combi de columnas
FROM
    Seguros_de_autos
WHERE
    PREMIUM IS NOT NULL
    
--Agrupa las filas de la tabla segÃºn las columnas especificadas   
--Es decir, va a calcular el promedio PREMIUM dentro de cada grupo
GROUP BY           
    SEX, PROD_YEAR, SEATS_NUM, rango_asegurado;
""")
con.commit()

In [69]:
# (1) Filtrar filas para actualizaciÃ³n: WHERE Seguros_de_autos.PREMIUM IS NULL
# Identificar todas las filas en la tabla Seguros_de_autos donde la columna PREMIUM es nula.
# El motor de la base de datos primero evalÃºa esta condiciÃ³n para determinar quÃ© filas serÃ¡n potencialmente actualizadas.

# (2) Subconsulta para obtener el valor: SELECT agru_prom.prom_PREMIUM ...
# Para cada fila identificada en el paso 1, ejecutar esta subconsulta para encontrar el valor prom_PREMIUM correspondiente en la tabla agru_prom.
# Esta subconsulta se ejecuta para cada fila que cumple la condiciÃ³n WHERE Seguros_de_autos.PREMIUM IS NULL.

# (3) AsignaciÃ³n del valor: SET Seguros_de_autos.PREMIUM = ...
# Asignar el valor obtenido de la subconsulta a la columna PREMIUM de Seguros_de_autos.
# Si la subconsulta encuentra un valor prom_PREMIUM, este se asigna a la columna PREMIUM de la fila actual en Seguros_de_autos.

# (4) ActualizaciÃ³n de la tabla: UPDATE Seguros_de_autos
# Realizar la operaciÃ³n de actualizaciÃ³n en la tabla Seguros_de_autos.
# Finalmente, el motor de la base de datos actualiza las filas de Seguros_de_autos que cumplen con la condiciÃ³n WHERE Seguros_de_autos.PREMIUM IS NULL con el valor obtenido de la subconsulta.

cursor.execute("""
UPDATE Seguros_de_autos
SET PREMIUM = (
    SELECT agru_prom.prom_PREMIUM
    FROM agru_prom
    WHERE
        Seguros_de_autos.SEX = agru_prom.SEX AND
        Seguros_de_autos.PROD_YEAR = agru_prom.PROD_YEAR AND
        Seguros_de_autos.SEATS_NUM = agru_prom.SEATS_NUM AND
        Seguros_de_autos.rango_asegurado = agru_prom.rango_asegurado
)
WHERE Seguros_de_autos.PREMIUM IS NULL;
""")
con.commit()

In [65]:
# SQL a python
df2 = pd.read_sql(
    '''
    SELECT *
    FROM Seguros_de_autos
    ''',
    con
)  #me traigo de SQL a python

In [67]:
df2 = pd.DataFrame(df2)

In [68]:
df2.head(10)

,SEX,INSR_BEGIN,INSR_END,EFFECTIVE_YR,INSR_TYPE,INSURED_VALUE,PREMIUM,OBJECT_ID,PROD_YEAR,SEATS_NUM,CARRYING_CAPACITY,TYPE_VEHICLE,CCM_TON,MAKE,USAGE,CLAIM_PAID,Id,rango_asegurado
0,0,08-AUG-13,07-AUG-14,08,1202,519755.22,7209.140000,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN,1,1e6
1,0,08-AUG-12,07-AUG-13,08,1202,519755.22,7203.890000,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN,2,1e6
2,0,08-AUG-11,07-AUG-12,08,1202,519755.22,7045.804000,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN,3,1e6
3,0,08-JUL-11,07-AUG-11,08,1202,519755.22,287.250000,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN,4,1e6
4,0,08-AUG-13,07-AUG-14,08,1202,285451.24,4286.900000,5000029901,2010.0,4.0,7.0,Pick-up,2494.0,TOYOTA,Own Goods,19894.43,5,1e6
5,0,08-AUG-12,07-AUG-13,08,1202,285451.24,4286.650000,5000029901,2010.0,4.0,7.0,Pick-up,2494.0,TOYOTA,Own Goods,26916.44,6,1e6
6,0,08-AUG-11,07-AUG-12,08,1202,285451.24,4123.564000,5000029901,2010.0,4.0,7.0,Pick-up,2494.0,TOYOTA,Own Goods,NaN,7,1e6
7,0,08-JUL-11,07-AUG-11,08,1202,285451.24,155.010000,5000029901,2010.0,4.0,7.0,Pick-up,2494.0,TOYOTA,Own Goods,NaN,8,1e6
8,0,08-JUL-12,07-JUL-13,11,1201,200000.00,1754.025714,5000030346,1982.0,10.0,NaN,Station Wagones,4164.0,TOYOTA,Private,NaN,9,1e6
9,0,08-AUG-11,07-JUL-12,11,1201,200000.00,3077.540000,5000030346,1982.0,10.0,NaN,Station Wagones,4164.0,TOYOTA,Private,NaN,10,1e6