In [1]:
#!pip install ipython-sql
%load_ext sql

# Ejercicio 1

In [2]:
import pandas as pd 
#Seguros 
data = pd.read_csv("C:/Users/nayde/Desktop/Tarea4/motor_data11-14lats.csv")
data.head()

,SEX,INSR_BEGIN,INSR_END,EFFECTIVE_YR,INSR_TYPE,INSURED_VALUE,PREMIUM,OBJECT_ID,PROD_YEAR,SEATS_NUM,CARRYING_CAPACITY,TYPE_VEHICLE,CCM_TON,MAKE,USAGE,CLAIM_PAID
0,0,08-AUG-13,07-AUG-14,08,1202,519755.22,7209.140,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
1,0,08-AUG-12,07-AUG-13,08,1202,519755.22,7203.890,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
2,0,08-AUG-11,07-AUG-12,08,1202,519755.22,7045.804,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
3,0,08-JUL-11,07-AUG-11,08,1202,519755.22,287.250,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
4,0,08-AUG-13,07-AUG-14,08,1202,285451.24,4286.900,5000029901,2010.0,4.0,7.0,Pick-up,2494.0,TOYOTA,Own Goods,19894.43

In [3]:
#Id columna 
data['Id'] = range(1, len(data) + 1)

# a la izquierda el id 
columns = ['Id'] + [col for col in data.columns if col != 'Id']
data = data[columns]
data.head()

,Id,SEX,INSR_BEGIN,INSR_END,EFFECTIVE_YR,INSR_TYPE,INSURED_VALUE,PREMIUM,OBJECT_ID,PROD_YEAR,SEATS_NUM,CARRYING_CAPACITY,TYPE_VEHICLE,CCM_TON,MAKE,USAGE,CLAIM_PAID
0,1,0,08-AUG-13,07-AUG-14,08,1202,519755.22,7209.140,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
1,2,0,08-AUG-12,07-AUG-13,08,1202,519755.22,7203.890,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
2,3,0,08-AUG-11,07-AUG-12,08,1202,519755.22,7045.804,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
3,4,0,08-JUL-11,07-AUG-11,08,1202,519755.22,287.250,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
4,5,0,08-AUG-13,07-AUG-14,08,1202,285451.24,4286.900,5000029901,2010.0,4.0,7.0,Pick-up,2494.0,TOYOTA,Own Goods,19894.43

In [4]:
#SQLite
import sqlite3
conn = sqlite3.connect('seguros.db')

# Cargar en una tabla SQL 
data.to_sql('seguros_data', conn, if_exists='replace', index=False)

# Verificar 
print(pd.read_sql('SELECT * FROM seguros_data LIMIT 5', conn))

   Id  SEX INSR_BEGIN   INSR_END EFFECTIVE_YR  INSR_TYPE  INSURED_VALUE  \
0   1    0  08-AUG-13  07-AUG-14           08       1202      519755.22
1   2    0  08-AUG-12  07-AUG-13           08       1202      519755.22
2   3    0  08-AUG-11  07-AUG-12           08       1202      519755.22
3   4    0  08-JUL-11  07-AUG-11           08       1202      519755.22
4   5    0  08-AUG-13  07-AUG-14           08       1202      285451.24

    PREMIUM   OBJECT_ID  PROD_YEAR  SEATS_NUM  CARRYING_CAPACITY TYPE_VEHICLE  \
0  7209.140  5000029885     2007.0        4.0                6.0      Pick-up
1  7203.890  5000029885     2007.0        4.0                6.0      Pick-up
2  7045.804  5000029885     2007.0        4.0                6.0      Pick-up
3   287.250  5000029885     2007.0        4.0                6.0      Pick-up
4  4286.900  5000029901     2010.0        4.0                7.0      Pick-up

   CCM_TON    MAKE      USAGE  CLAIM_PAID
0   3153.0  NISSAN  Own Goods         NaN
1   3153.0  NISSAN  Own Goods         NaN
2   3153.0  NISSAN  Own Goods         NaN
3   3153.0  NISSAN  Own Goods         NaN
4   2494.0  TOYOTA  Own Goods    19894.43

In [5]:

consul = conn.cursor()  

# Cargar los datos en una tabla SQL


# Datos nulos en la columna PREMIUM para las filas que contienen un 9 en su Id
update_query = """
UPDATE seguros_data
SET PREMIUM = NULL
WHERE Id LIKE '%9%'
"""

#Consulta
consul.execute(update_query)
conn.commit()

# Verificar los cambios
result = pd.read_sql('SELECT * FROM seguros_data WHERE Id LIKE "%9%"', conn)
print(result)

            Id  SEX INSR_BEGIN   INSR_END EFFECTIVE_YR  INSR_TYPE  \
0            9    0  08-JUL-12  07-JUL-13           11       1201
1           19    1  12-DEC-13  11-DEC-14           06       1202
2           29    1  09-AUG-11  08-AUG-12           10       1202
3           39    1  16-MAR-12  15-MAR-13           09       1202
4           49    1  27-NOV-12  26-NOV-13           10       1202
...        ...  ...        ...        ...          ...        ...
116386  293533    2  11-AUG-12  10-AUG-13           88       1201
116387  293534    2  11-AUG-11  10-AUG-12           88       1201
116388  293535    2  01-JUN-13  31-MAY-14           13       1201
116389  293536    0  08-JUL-12  07-JUL-13           85       1202
116390  293537    0  08-JUL-11  07-JUL-12           85       1202

        INSURED_VALUE PREMIUM   OBJECT_ID  PROD_YEAR  SEATS_NUM  \
0           200000.00    None  5000030346     1982.0       10.0
1          1636927.58    None  5000031227     2008.0        1.0
2           247250.00    None  5000031274     2000.0       12.0
3           605000.00    None  5000031299     1995.0        0.0
4          2550000.00    None  5000031489     2010.0        1.0
...               ...     ...         ...        ...        ...
116386           0.00    None  5000047311     1985.0        4.0
116387           0.00    None  5000047311     1985.0        4.0
116388      250000.00    None  5000949222     1993.0        4.0
116389           0.00    None  5000049231     2017.0        2.0
116390           0.00    None  5000049231     2017.0        2.0

        CARRYING_CAPACITY     TYPE_VEHICLE  CCM_TON        MAKE  \
0                     NaN  Station Wagones   4164.0      TOYOTA
1                   153.0            Truck  11945.0  MITSUBISHI
2                    12.0              Bus   2985.0      TOYOTA
3                   220.0            Truck  13798.0        FIAT
4                   155.1            Truck      0.0       IVECO
...                   ...              ...      ...         ...
116386                NaN       Automobile   1295.0      TOYOTA
116387                NaN       Automobile   1295.0      TOYOTA
116388                NaN       Automobile   1295.0      TOYOTA
116389                0.0            Truck   4570.0       ISUZU
116390                0.0            Truck   4570.0       ISUZU

                         USAGE  CLAIM_PAID
0                      Private         NaN
1              General Cartage         NaN
2       Fare Paying Passengers         NaN
3              General Cartage         NaN
4              General Cartage         NaN
...                        ...         ...
116386                 Private         NaN
116387                 Private         NaN
116388                 Private         NaN
116389         General Cartage         NaN
116390         General Cartage         NaN

[116391 rows x 17 columns]

In [6]:
# Discretice la variable INSURED_VALUE (nueva variable rango_asegurado) con los siguientes cortes 0,
#1e3, 1e6, 1e9, 1e12.

rango_asegurado = """
ALTER TABLE seguros_data ADD COLUMN rango_asegurado TEXT;

UPDATE seguros_data
SET rango_asegurado = CASE
    WHEN INSURED_VALUE >= 0 AND INSURED_VALUE < 1e3 THEN '0-1e3'
    WHEN INSURED_VALUE >= 1e3 AND INSURED_VALUE < 1e6 THEN '1e3-1e6'
    WHEN INSURED_VALUE >= 1e6 AND INSURED_VALUE < 1e9 THEN '1e6-1e9'
    WHEN INSURED_VALUE >= 1e9 AND INSURED_VALUE < 1e12 THEN '1e9-1e12'
    ELSE NULL
END;
"""


# agregar la nueva columna, se agrega a la derecha

consul = conn.cursor()
consul.executescript(rango_asegurado)
conn.commit()

# Verificar los cambios
print("Discretizar INSURED_VALUE:") 
result = pd.read_sql('SELECT * FROM seguros_data', conn)
print(result)

Discretizar INSURED_VALUE:
            Id  SEX INSR_BEGIN   INSR_END EFFECTIVE_YR  INSR_TYPE  \
0            1    0  08-AUG-13  07-AUG-14           08       1202
1            2    0  08-AUG-12  07-AUG-13           08       1202
2            3    0  08-AUG-11  07-AUG-12           08       1202
3            4    0  08-JUL-11  07-AUG-11           08       1202
4            5    0  08-AUG-13  07-AUG-14           08       1202
...        ...  ...        ...        ...          ...        ...
293532  293533    2  11-AUG-12  10-AUG-13           88       1201
293533  293534    2  11-AUG-11  10-AUG-12           88       1201
293534  293535    2  01-JUN-13  31-MAY-14           13       1201
293535  293536    0  08-JUL-12  07-JUL-13           85       1202
293536  293537    0  08-JUL-11  07-JUL-12           85       1202

        INSURED_VALUE   PREMIUM   OBJECT_ID  PROD_YEAR  SEATS_NUM  \
0           519755.22  7209.140  5000029885     2007.0        4.0
1           519755.22  7203.890  5000029885     2007.0        4.0
2           519755.22  7045.804  5000029885     2007.0        4.0
3           519755.22   287.250  5000029885     2007.0        4.0
4           285451.24  4286.900  5000029901     2010.0        4.0
...               ...       ...         ...        ...        ...
293532           0.00       NaN  5000047311     1985.0        4.0
293533           0.00       NaN  5000047311     1985.0        4.0
293534      250000.00       NaN  5000949222     1993.0        4.0
293535           0.00       NaN  5000049231     2017.0        2.0
293536           0.00       NaN  5000049231     2017.0        2.0

        CARRYING_CAPACITY TYPE_VEHICLE  CCM_TON    MAKE            USAGE  \
0                     6.0      Pick-up   3153.0  NISSAN        Own Goods
1                     6.0      Pick-up   3153.0  NISSAN        Own Goods
2                     6.0      Pick-up   3153.0  NISSAN        Own Goods
3                     6.0      Pick-up   3153.0  NISSAN        Own Goods
4                     7.0      Pick-up   2494.0  TOYOTA        Own Goods
...                   ...          ...      ...     ...              ...
293532                NaN   Automobile   1295.0  TOYOTA          Private
293533                NaN   Automobile   1295.0  TOYOTA          Private
293534                NaN   Automobile   1295.0  TOYOTA          Private
293535                0.0        Truck   4570.0   ISUZU  General Cartage
293536                0.0        Truck   4570.0   ISUZU  General Cartage

        CLAIM_PAID rango_asegurado
0              NaN         1e3-1e6
1              NaN         1e3-1e6
2              NaN         1e3-1e6
3              NaN         1e3-1e6
4         19894.43         1e3-1e6
...            ...             ...
293532         NaN           0-1e3
293533         NaN           0-1e3
293534         NaN         1e3-1e6
293535         NaN           0-1e3
293536         NaN           0-1e3

[293537 rows x 18 columns]

In [7]:
consul1 = conn.cursor()


tabla1 = """
DROP TABLE IF EXISTS SEGUROS5;
CREATE TABLE SEGUROS5 AS
SELECT * FROM seguros_data
"""

tabla2 = """
DROP TABLE IF EXISTS SEGUROS3;
CREATE TABLE SEGUROS3 AS
SELECT * FROM seguros_data
"""

tabla3 = """
DROP TABLE IF EXISTS SEGUROS4;
CREATE TABLE SEGUROS4 AS
SELECT * FROM seguros_data
"""

consul1.executescript(tabla1)
conn.commit()

consul1.executescript(tabla2)
conn.commit()

consul1.executescript(3)
conn.commit()

## Imputaciones

In [8]:
consul1 = conn.cursor()

# Grupo 1 y AVG
temp_table_grupo1 = """
CREATE TEMP TABLE IF NOT EXISTS temp_mean_premium_grupo1 AS
SELECT 
    SEX, 
    PROD_YEAR, 
    SEATS_NUM, 
    rango_asegurado, 
    AVG(PREMIUM) as mean_premium
FROM 
    seguros_data
GROUP BY 
    SEX, PROD_YEAR, SEATS_NUM, rango_asegurado;
"""
consul1.execute(temp_table_grupo1)
conn.commit()

media = """
UPDATE seguros_data
SET PREMIUM = (
    SELECT mean_premium 
    FROM temp_mean_premium_grupo1 
    WHERE 
        seguros_data.SEX = temp_mean_premium_grupo1.SEX AND
        seguros_data.PROD_YEAR = temp_mean_premium_grupo1.PROD_YEAR AND
        seguros_data.SEATS_NUM = temp_mean_premium_grupo1.SEATS_NUM AND
        seguros_data.rango_asegurado = temp_mean_premium_grupo1.rango_asegurado
)
WHERE PREMIUM IS NULL
"""
consul1.execute(media)
conn.commit()

# Ver
print("Datos después de imputar Grupo 1/media:")
all_data_grupo1 = pd.read_sql('SELECT * FROM seguros_data', conn)
print(all_data_grupo1.head(10))

Datos después de imputar Grupo 1/media:
   Id  SEX INSR_BEGIN   INSR_END EFFECTIVE_YR  INSR_TYPE  INSURED_VALUE  \
0   1    0  08-AUG-13  07-AUG-14           08       1202      519755.22
1   2    0  08-AUG-12  07-AUG-13           08       1202      519755.22
2   3    0  08-AUG-11  07-AUG-12           08       1202      519755.22
3   4    0  08-JUL-11  07-AUG-11           08       1202      519755.22
4   5    0  08-AUG-13  07-AUG-14           08       1202      285451.24
5   6    0  08-AUG-12  07-AUG-13           08       1202      285451.24
6   7    0  08-AUG-11  07-AUG-12           08       1202      285451.24
7   8    0  08-JUL-11  07-AUG-11           08       1202      285451.24
8   9    0  08-JUL-12  07-JUL-13           11       1201      200000.00
9  10    0  08-AUG-11  07-JUL-12           11       1201      200000.00

       PREMIUM   OBJECT_ID  PROD_YEAR  SEATS_NUM  CARRYING_CAPACITY  \
0  7209.140000  5000029885     2007.0        4.0                6.0
1  7203.890000  5000029885     2007.0        4.0                6.0
2  7045.804000  5000029885     2007.0        4.0                6.0
3   287.250000  5000029885     2007.0        4.0                6.0
4  4286.900000  5000029901     2010.0        4.0                7.0
5  4286.650000  5000029901     2010.0        4.0                7.0
6  4123.564000  5000029901     2010.0        4.0                7.0
7   155.010000  5000029901     2010.0        4.0                7.0
8  1754.025714  5000030346     1982.0       10.0                NaN
9  3077.540000  5000030346     1982.0       10.0                NaN

      TYPE_VEHICLE  CCM_TON    MAKE      USAGE  CLAIM_PAID rango_asegurado
0          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
1          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
2          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
3          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
4          Pick-up   2494.0  TOYOTA  Own Goods    19894.43         1e3-1e6
5          Pick-up   2494.0  TOYOTA  Own Goods    26916.44         1e3-1e6
6          Pick-up   2494.0  TOYOTA  Own Goods         NaN         1e3-1e6
7          Pick-up   2494.0  TOYOTA  Own Goods         NaN         1e3-1e6
8  Station Wagones   4164.0  TOYOTA    Private         NaN         1e3-1e6
9  Station Wagones   4164.0  TOYOTA    Private         NaN         1e3-1e6

In [9]:
consul1 = conn.cursor()

# Grupo 1 y MAX
temp_table_grupo2 = """
CREATE TEMP TABLE IF NOT EXISTS temp_max_premium_grupo2 AS
SELECT 
    SEX, 
    PROD_YEAR, 
    SEATS_NUM, 
    rango_asegurado, 
    MAX(PREMIUM) as max_premium
FROM 
    SEGUROS5
GROUP BY 
    SEX, PROD_YEAR, SEATS_NUM, rango_asegurado;
"""
consul1.execute(temp_table_grupo2)
conn.commit()

maxi = """
UPDATE seguros5
SET PREMIUM = (
    SELECT max_premium 
    FROM temp_max_premium_grupo2 
    WHERE 
        seguros5.SEX = temp_max_premium_grupo2.SEX AND
        seguros5.PROD_YEAR = temp_max_premium_grupo2.PROD_YEAR AND
        seguros5.SEATS_NUM = temp_max_premium_grupo2.SEATS_NUM AND
        seguros5.rango_asegurado = temp_max_premium_grupo2.rango_asegurado
)
WHERE PREMIUM IS NULL
"""
consul1.execute(maxi)
conn.commit()

# Ver
print("Datos después de imputar Grupo 1/max:")
all_data_grupo2 = pd.read_sql('SELECT * FROM seguros5', conn)
print(all_data_grupo2.head(10))

Datos después de imputar Grupo 1/max:
   Id  SEX INSR_BEGIN   INSR_END EFFECTIVE_YR  INSR_TYPE  INSURED_VALUE  \
0   1    0  08-AUG-13  07-AUG-14           08       1202      519755.22
1   2    0  08-AUG-12  07-AUG-13           08       1202      519755.22
2   3    0  08-AUG-11  07-AUG-12           08       1202      519755.22
3   4    0  08-JUL-11  07-AUG-11           08       1202      519755.22
4   5    0  08-AUG-13  07-AUG-14           08       1202      285451.24
5   6    0  08-AUG-12  07-AUG-13           08       1202      285451.24
6   7    0  08-AUG-11  07-AUG-12           08       1202      285451.24
7   8    0  08-JUL-11  07-AUG-11           08       1202      285451.24
8   9    0  08-JUL-12  07-JUL-13           11       1201      200000.00
9  10    0  08-AUG-11  07-JUL-12           11       1201      200000.00

    PREMIUM   OBJECT_ID  PROD_YEAR  SEATS_NUM  CARRYING_CAPACITY  \
0  7209.140  5000029885     2007.0        4.0                6.0
1  7203.890  5000029885     2007.0        4.0                6.0
2  7045.804  5000029885     2007.0        4.0                6.0
3   287.250  5000029885     2007.0        4.0                6.0
4  4286.900  5000029901     2010.0        4.0                7.0
5  4286.650  5000029901     2010.0        4.0                7.0
6  4123.564  5000029901     2010.0        4.0                7.0
7   155.010  5000029901     2010.0        4.0                7.0
8  4076.250  5000030346     1982.0       10.0                NaN
9  3077.540  5000030346     1982.0       10.0                NaN

      TYPE_VEHICLE  CCM_TON    MAKE      USAGE  CLAIM_PAID rango_asegurado
0          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
1          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
2          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
3          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
4          Pick-up   2494.0  TOYOTA  Own Goods    19894.43         1e3-1e6
5          Pick-up   2494.0  TOYOTA  Own Goods    26916.44         1e3-1e6
6          Pick-up   2494.0  TOYOTA  Own Goods         NaN         1e3-1e6
7          Pick-up   2494.0  TOYOTA  Own Goods         NaN         1e3-1e6
8  Station Wagones   4164.0  TOYOTA    Private         NaN         1e3-1e6
9  Station Wagones   4164.0  TOYOTA    Private         NaN         1e3-1e6

In [10]:
conn = sqlite3.connect('seguros.db')

consul1 = conn.cursor()

# Grupo 2 y AVG
temp_table_grupo3 = """
CREATE TEMP TABLE IF NOT EXISTS temp_mean_premium_grupo3 AS
SELECT 
    PROD_YEAR, 
    TYPE_VEHICLE, 
    USAGE, 
    AVG(PREMIUM) as mean_premium
FROM 
   SEGUROS3
GROUP BY 
     PROD_YEAR, TYPE_VEHICLE, USAGE;
"""
consul1.execute(temp_table_grupo3)
conn.commit()

media2 = """
UPDATE seguros3
SET PREMIUM = (
    SELECT mean_premium 
    FROM temp_mean_premium_grupo3
    WHERE 
        seguros3.PROD_YEAR = temp_mean_premium_grupo3.PROD_YEAR AND
        seguros3.TYPE_VEHICLE = temp_mean_premium_grupo3.TYPE_VEHICLE AND
        seguros3.USAGE = temp_mean_premium_grupo3.USAGE
)
WHERE PREMIUM IS NULL
"""
consul1.execute(media2)
conn.commit()

# Ver
print("Datos después de imputar Grupo 2/media:")
all_data_grupo3 = pd.read_sql('SELECT * FROM seguros3', conn)
print(all_data_grupo3.head(10))

Datos después de imputar Grupo 2/media:
   Id  SEX INSR_BEGIN   INSR_END EFFECTIVE_YR  INSR_TYPE  INSURED_VALUE  \
0   1    0  08-AUG-13  07-AUG-14           08       1202      519755.22
1   2    0  08-AUG-12  07-AUG-13           08       1202      519755.22
2   3    0  08-AUG-11  07-AUG-12           08       1202      519755.22
3   4    0  08-JUL-11  07-AUG-11           08       1202      519755.22
4   5    0  08-AUG-13  07-AUG-14           08       1202      285451.24
5   6    0  08-AUG-12  07-AUG-13           08       1202      285451.24
6   7    0  08-AUG-11  07-AUG-12           08       1202      285451.24
7   8    0  08-JUL-11  07-AUG-11           08       1202      285451.24
8   9    0  08-JUL-12  07-JUL-13           11       1201      200000.00
9  10    0  08-AUG-11  07-JUL-12           11       1201      200000.00

      PREMIUM   OBJECT_ID  PROD_YEAR  SEATS_NUM  CARRYING_CAPACITY  \
0  7209.14000  5000029885     2007.0        4.0                6.0
1  7203.89000  5000029885     2007.0        4.0                6.0
2  7045.80400  5000029885     2007.0        4.0                6.0
3   287.25000  5000029885     2007.0        4.0                6.0
4  4286.90000  5000029901     2010.0        4.0                7.0
5  4286.65000  5000029901     2010.0        4.0                7.0
6  4123.56400  5000029901     2010.0        4.0                7.0
7   155.01000  5000029901     2010.0        4.0                7.0
8  1801.72972  5000030346     1982.0       10.0                NaN
9  3077.54000  5000030346     1982.0       10.0                NaN

      TYPE_VEHICLE  CCM_TON    MAKE      USAGE  CLAIM_PAID rango_asegurado
0          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
1          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
2          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
3          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
4          Pick-up   2494.0  TOYOTA  Own Goods    19894.43         1e3-1e6
5          Pick-up   2494.0  TOYOTA  Own Goods    26916.44         1e3-1e6
6          Pick-up   2494.0  TOYOTA  Own Goods         NaN         1e3-1e6
7          Pick-up   2494.0  TOYOTA  Own Goods         NaN         1e3-1e6
8  Station Wagones   4164.0  TOYOTA    Private         NaN         1e3-1e6
9  Station Wagones   4164.0  TOYOTA    Private         NaN         1e3-1e6

In [11]:
consul1 = conn.cursor()

# Grupo 2 y MAX
temp_table_grupo4 = """
CREATE TEMP TABLE IF NOT EXISTS temp_max_premium_grupo4 AS
SELECT 
   PROD_YEAR, 
    TYPE_VEHICLE, 
    USAGE, 
    MAX(PREMIUM) as max_premium
FROM 
    SEGUROS4
GROUP BY 
    SEX, PROD_YEAR, SEATS_NUM, rango_asegurado;
"""
consul1.execute(temp_table_grupo4)
conn.commit()

maxi2 = """
UPDATE seguros4
SET PREMIUM = (
    SELECT max_premium 
    FROM temp_max_premium_grupo4
    WHERE 
        seguros4.PROD_YEAR = temp_max_premium_grupo4.PROD_YEAR AND
        seguros4.TYPE_VEHICLE = temp_max_premium_grupo4.TYPE_VEHICLE AND
        seguros4.USAGE = temp_max_premium_grupo4.USAGE
        )
WHERE PREMIUM IS NULL
"""
consul1.execute(maxi2)
conn.commit()

# Ver
print("Datos después de imputar Grupo 2/max:")
all_data_grupo2 = pd.read_sql('SELECT * FROM seguros4', conn)
print(all_data_grupo2.head(10))

Datos después de imputar Grupo 2/max:
   Id  SEX INSR_BEGIN   INSR_END EFFECTIVE_YR  INSR_TYPE  INSURED_VALUE  \
0   1    0  08-AUG-13  07-AUG-14           08       1202      519755.22
1   2    0  08-AUG-12  07-AUG-13           08       1202      519755.22
2   3    0  08-AUG-11  07-AUG-12           08       1202      519755.22
3   4    0  08-JUL-11  07-AUG-11           08       1202      519755.22
4   5    0  08-AUG-13  07-AUG-14           08       1202      285451.24
5   6    0  08-AUG-12  07-AUG-13           08       1202      285451.24
6   7    0  08-AUG-11  07-AUG-12           08       1202      285451.24
7   8    0  08-JUL-11  07-AUG-11           08       1202      285451.24
8   9    0  08-JUL-12  07-JUL-13           11       1201      200000.00
9  10    0  08-AUG-11  07-JUL-12           11       1201      200000.00

    PREMIUM   OBJECT_ID  PROD_YEAR  SEATS_NUM  CARRYING_CAPACITY  \
0  7209.140  5000029885     2007.0        4.0                6.0
1  7203.890  5000029885     2007.0        4.0                6.0
2  7045.804  5000029885     2007.0        4.0                6.0
3   287.250  5000029885     2007.0        4.0                6.0
4  4286.900  5000029901     2010.0        4.0                7.0
5  4286.650  5000029901     2010.0        4.0                7.0
6  4123.564  5000029901     2010.0        4.0                7.0
7   155.010  5000029901     2010.0        4.0                7.0
8  4090.970  5000030346     1982.0       10.0                NaN
9  3077.540  5000030346     1982.0       10.0                NaN

      TYPE_VEHICLE  CCM_TON    MAKE      USAGE  CLAIM_PAID rango_asegurado
0          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
1          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
2          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
3          Pick-up   3153.0  NISSAN  Own Goods         NaN         1e3-1e6
4          Pick-up   2494.0  TOYOTA  Own Goods    19894.43         1e3-1e6
5          Pick-up   2494.0  TOYOTA  Own Goods    26916.44         1e3-1e6
6          Pick-up   2494.0  TOYOTA  Own Goods         NaN         1e3-1e6
7          Pick-up   2494.0  TOYOTA  Own Goods         NaN         1e3-1e6
8  Station Wagones   4164.0  TOYOTA    Private         NaN         1e3-1e6
9  Station Wagones   4164.0  TOYOTA    Private         NaN         1e3-1e6

# Ejercicio 2

## Comentarios y documentacion

In [12]:
import numpy as np

 #https://www.kaggle.com/code/andresjejen/regresi-n-logistica, ver documentacion
    
def kernel_sigmoid(z):
    '''
   
    Parameters
    ----------
    z (float or np.array): Valor o array de valores a los que se aplicará la función sigmoide.
    
    Returns
    ------
    (float or np.array): Resultado de aplicar la función sigmoide a z.
    '''
    return 1 / (1 + np.exp(-z))
    

def forward_propagation(W, b, X, y):
    '''Implemente la función de coste y su gradiente para la propagación
    
    Parameters
    ----------
    W (np.array): Pesos del modelo.
    b (float): Sesgo 
    X (np.array): Conjunto de características.
    y (np.array): Etiquetas vector
    
    Returns
    ------
    A (np.array): Activaciones después de aplicar la función sigmoide.
    cost (float): coste de log-verosimilitud para la regresión logística
    '''
    # Número de datos
    data_number = X.shape[0]
    
    Z = np.dot(W, X.T) + b
    # Aplicación de la función sigmoide
    A = kernel_sigmoid(Z)
    # Cálculo del costo
    cost = (-1 / data_number) * np.sum(y * np.log(A) + (1 - y) * np.log(1 - A))

    return A, cost

def backward_propagation(X, A, y):
    '''Calcula los gradientes de los pesos y el sesgo.
    
    Parameters
    ----------
    X (np.array): Conjunto de características.
    A (np.array): Activaciones después de aplicar la función sigmoide.
    y (np.array): Etiquetas vector
    
    Returns
    ------
    dW (np.array): Gradiente con respecto a los pesos.
    db (float): Gradiente con respecto al sesgo.
    '''
    # Número de datos
    data_number = X.shape[0]
    
    # Gradiente con respecto a W
    dW = (1 / data_number) * np.dot((A - y), X)
    
    # Gradiente con respecto a b
    db = (1 / data_number) * np.sum(A - y)

    return dW, db

def optimize(W, b, X, y, num_iterations, learning_rate):
    '''Optimiza los parámetros usando el descenso de gradiente.
    
    Parameters
    ----------
    W (np.array): Pesos del modelo.
    b (float): Sesgo del modelo.
    X (np.array): Conjunto de características.
    y (np.array): Etiquetas vector
    num_iterations (int): Número de iteraciones para el descenso de gradiente.
    learning_rate (float): Tasa de aprendizaje.
    
    Returns
    ------
    params (dict): Diccionario con los parámetros optimizados (W y b).
    gradients (dict): Diccionario con los gradientes calculados (dW y db).
    costs (list): Lista con los costos calculados durante el proceso de optimización.
    '''
    # Almacenar los costos
    costs = []

    for i in range(num_iterations):
        # Propagación hacia adelante
        A, cost = forward_propagation(W, b, X, y)
        # Propagación hacia atrás
        dW, db = backward_propagation(X, A, y)

        # Actualizar parametros
        W = W - learning_rate * dW
        b = b - learning_rate * db

        # Costo registro
        if i % 100 == 0:
            costs.append(cost)

    # Diccionario con los parámetros optimizados
    params = {
        "W": W,
        "b": b
    }

    # Diccionario con los gradientes
    gradients = {
        "dW": dW,
        "db": db
    }

    return params, gradients, costs

def predict(W, b, X):
    '''Realiza predicciones usando el modelo entrenado.
    
    Parameters
    ----------
    W (np.array): Pesos del modelo.
    b (float): Sesgo del modelo.
    X (np.array): Conjunto de características.
    
    Returns
    ------
    y_prediction (np.array): Predicciones del modelo para el conjunto de características X.
    '''
    data_number = X.shape[0]
    # Inicialización de la predicción
    y_prediction = np.zeros((1, data_number))

    Z = np.dot(W, X.T) + b
    # Aplicación de la función sigmoide
    A = kernel_sigmoid(Z)

    for i in range(A.shape[1]):
        y_prediction[0, i] = 1 if A[0, i] > 0.5 else 0

    return y_prediction

def model_regresion_logistico(X_train, y_train, X_val, y_val, num_iterations=2000, learning_rate=0.5):
    '''Entrena el modelo de regresión logística y evalúa su rendimiento.
    
    Parameters
    ----------
    X_train (np.array): Conjunto de entrenamiento de características.
    y_train (np.array): Etiquetas verdaderas para el conjunto de entrenamiento.
    X_val (np.array): Conjunto de validación de características.
    y_val (np.array): Etiquetas verdaderas para el conjunto de validación.
    num_iterations (int): Número de iteraciones para el descenso de gradiente ( 2000).
    learning_rate (float): Tasa de aprendizaje (0.5)
    
    Returns
    ------
    lista (dict): Diccionario con la precisión en entrenamiento y validación, y los costos durante el proceso de entrenamiento.
    '''
    # Dimensiones conjunto de entrenamiento
    dimensions = X_train.shape[1]
    # Inicializar parametros
    W = np.zeros(shape=(1, dimensions))
    b = 0

    # Optimiza de los parámetros
    params, gradients, costs = optimize(W, b, X_train, y_train, num_iterations, learning_rate)
    W = params["W"]
    b = params["b"]

    # Predicción en el conjunto de validación
    y_prediction_validation = predict(W, b, X_val)
    
    # Predicción en el conjunto de entrenamiento
    y_prediction_train = predict(W, b, X_train)

    # Resultados
    lista = {
        "Ajuste entrenamiento": 100 - np.mean(np.abs(y_prediction_train - y_train)) * 100,
        "Ajuste testeo": 100 - np.mean(np.abs(y_prediction_validation - y_val)) * 100,
        "Costo en proceso": costs
    }

    return lista

  ## Run 10 veces el codigo dado

In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import time
#https://ellibrodepython.com/tiempo-ejecucion-python
def kernel_sigmoid(z):
    return 1 / (1 + np.exp(-z))

def forward_propagation(W, b, X, y):
    data_number = X.shape[0]
    Z = np.dot(W, X.T) + b
    A = kernel_sigmoid(Z)
    cost = (-1 / data_number) * np.sum(y * np.log(A) + (1 - y) * (np.log(1 - A)))
    return A, cost

def backward_propagation(X, A, y):
    data_number = X.shape[0]
    dW = (1 / data_number) * np.dot((A - y), X)
    db = (1 / data_number) * np.sum(A - y)
    return dW, db

def optimize(W, b, X, y, num_iterations, learning_rate):
    costs = []
    for i in range(num_iterations):
        A, cost = forward_propagation(W, b, X, y)
        dW, db = backward_propagation(X, A, y)
        W = W - learning_rate * dW
        b = b - learning_rate * db
        if i % 100 == 0:
            costs.append(cost)
    params = {"W": W, "b": b}
    gradients = {"dW": dW, "db": db}
    return params, gradients, costs

def predict(W, b, X):
    data_number = X.shape[0]
    y_prediction = np.zeros((1, data_number))
    Z = np.dot(W, X.T) + b
    A = kernel_sigmoid(Z)
    for i in range(A.shape[1]):
        y_prediction[0, i] = 1 if A[0, i] > 0.5 else 0
    return y_prediction

def model_regresion_logistico(X_train, y_train, X_val, y_val, num_iterations=2000, learning_rate=0.5):
    dimensions = X.shape[1]
    W = np.zeros(shape=(1, dimensions))
    b = 0
    params, gradients, costs = optimize(W, b, X_train, y_train, num_iterations, learning_rate)
    W = params["W"]
    b = params["b"]
    y_prediction_validation = predict(W, b, X_val)
    y_prediction_train = predict(W, b, X_train)
    lista = {
        "Ajuste entrenamiento": 100 - np.mean(np.abs(y_prediction_train - y_train)) * 100,
        "Ajuste testeo": 100 - np.mean(np.abs(y_prediction_validation - y_val)) * 100,
        "Costo en proceso": costs
    }
    return lista

# Datos y transformaciones
datos = pd.read_csv("Diabetes.txt")
X = np.array(datos.drop(["Outcome"], axis=1))
y = np.array(datos["Outcome"])
X = (X - np.min(X)) / (np.max(X) - np.min(X))

# Separa la muestra
X_train, X_val, y_train, y_val = train_test_split(
    X,  # Covaribles predictoras
    y,  # Variable a predecir
    random_state=None,  # (None: escoge una diferente en cada corrida)
    test_size=0.20  # Cantidad de datos de entrenamiento y prueba
)

# inicio Toma de tiempos ------------- -------
model_regresion_logistico(
    X_train,
    y_train,
    X_val,
    y_val,
    num_iterations=1000,
    learning_rate=0.003
)
# Fin Toma de tiempo ------------ ------

{'Ajuste entrenamiento': 65.14657980456026,
 'Ajuste testeo': 64.93506493506493,
 'Costo en proceso': [0.6931471805599454,
  0.6866654360441249,
  0.6811114401590693,
  0.6763503923668067,
  0.6722668027925722,
  0.6687619127899405,
  0.6657513833229478,
  0.6631632527497716,
  0.6609361518722414,
  0.659017756447828]}

In [14]:
ejecucion_times = []
for run in range(10): #antes intente modificar esto pero el tiempo aumenta 
    X_train, X_val, y_train, y_val = train_test_split(
        X,
        y,
        random_state=None,
        test_size=0.20
    )
    
    start_time = time.time()
    result = model_regresion_logistico(
        X_train,
        y_train,
        X_val,
        y_val,
        num_iterations=1000,
        learning_rate=0.003
    )
    end_time = time.time()
    
    ejecucion_time = end_time - start_time
    ejecucion_times.append(ejecucion_time)

resumen_table = pd.DataFrame({
    "Run": range(1, 10 + 1),
    "Tiempo": ejecucion_times
})
resumen_table.to_csv("ejecucion_times_resumen.csv", index=False)

print(resumen_table)

   Run    Tiempo
0    1  0.163296
1    2  0.069845
2    3  0.062427
3    4  0.073501
4    5  0.066230
5    6  0.079951
6    7  0.071714
7    8  0.068232
8    9  0.065591
9   10  0.066433

# Optimizar

In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import time

# Funciones para el modelo optimizado
def kernel_sigmoid(z):
    return 1 / (1 + np.exp(-z))

def forward_propagation(W, b, X, y):
    data_number = X.shape[0]
    Z = np.dot(W, X.T) + b
    A = kernel_sigmoid(Z)
    cost = (-1 / data_number) * np.sum(y * np.log(A) + (1 - y) * np.log(1 - A))
    return A, cost

def backward_propagation(X, A, y):
    data_number = X.shape[0]
    dW = (1 / data_number) * np.dot((A - y), X)
    db = (1 / data_number) * np.sum(A - y)
    return dW, db



def optimize(W, b, X, y, num_iterations, learning_rate):
    costs = []
    for i in range(num_iterations):
        A, cost = forward_propagation(W, b, X, y)
        dW, db = backward_propagation(X, A, y)
        W -= learning_rate * dW # Cambio: recordar que escribir a=a-b es igual a  escribir a-=b
        b -= learning_rate * db
        if i % 100 == 0:
            costs.append(cost)
    params = {
        "W": W,
        "b": b
    }
    gradients = {
        "dW": dW,
        "db": db
    }
    return params, gradients, costs

def predict(W, b, X): #https://es.stackoverflow.com/questions/569777/simplificar-operacion-matricial-y-vectorizada-en-una-sola-funcion-con-numpy
    Z = np.dot(W, X.T) + b 
    A = kernel_sigmoid(Z)
    y_prediction = (A > 0.5).astype(int)  #Cambio, y_prediction[0, i] = 1 if A[0, i] > 0.5 else 0
    return y_prediction


def model_regresion_logistico_optimizado(X_train, y_train, X_val, y_val, num_iterations=2000, learning_rate=0.5):
    dimensions = X_train.shape[1]
    W = np.zeros(shape=(1, dimensions))
    b = 0
    params, gradients, costs = optimize(W, b, X_train, y_train, num_iterations, learning_rate)
    W = params["W"]
    b = params["b"]
    y_prediction_validation = predict(W, b, X_val)
    y_prediction_train = predict(W, b, X_train)
    lista = {
        "Ajuste entrenamiento": 100 - np.mean(np.abs(y_prediction_train - y_train)) * 100,
        "Ajuste testeo": 100 - np.mean(np.abs(y_prediction_validation - y_val)) * 100,
        "Costo en proceso": costs
    }
    return lista

def medir_tiempo(func, *args, **kwargs):
    tiempos = []
    for i in range(1, 11):
        inicio = time.time()
        func(*args, **kwargs)
        fin = time.time()
        tiempos.append((i, fin - inicio))
    return tiempos

datos = pd.read_csv("Diabetes.txt")
X = np.array(datos.drop(["Outcome"], axis=1))
y = np.array(datos["Outcome"])
X = (X - np.min(X)) / (np.max(X) - np.min(X))

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.20, random_state=42)

# Modelo optimizados
tiempos_optimizado = medir_tiempo(model_regresion_logistico_optimizado, X_train, y_train, X_val, y_val, num_iterations=1000, learning_rate=0.003)

# Resultados
resultados = pd.DataFrame({
    "Run": [i for i in range(1, 11)],
    "Tiempos Optimizado": [tiempo[1] for tiempo in tiempos_optimizado]
})

print(resultados)

conn = sqlite3.connect('resultados.db')
resultados.to_sql('resultados_optimizado', conn, if_exists='replace', index=False)
conn.close()

   Run  Tiempos Optimizado
0    1            0.068561
1    2            0.058745
2    3            0.074451
3    4            0.073544
4    5            0.078049
5    6            0.083470
6    7            0.060909
7    8            0.079106
8    9            0.077500
9   10            0.056949


## Comparacion del codigo dado con sklearn.linear_model


luego de este se comparan los 3

In [16]:
#https://www.freecodecamp.org/news/how-to-build-and-train-linear-and-logistic-regression-ml-models-in-python/
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import time

#codigo original
def kernel_sigmoid(z):
    return 1 / (1 + np.exp(-z))

def forward_propagation(W, b, X, y):
    data_number = X.shape[0]
    Z = np.dot(W, X.T) + b
    A = kernel_sigmoid(Z)
    cost = (-1 / data_number) * np.sum(y * np.log(A) + (1 - y) * (np.log(1 - A)))
    return A, cost

def backward_propagation(X, A, y):
    data_number = X.shape[0]
    dW = (1 / data_number) * np.dot((A - y), X)
    db = (1 / data_number) * np.sum(A - y)
    return dW, db

def optimize(W, b, X, y, num_iterations, learning_rate):
    costs = []
    for i in range(num_iterations):
        A, cost = forward_propagation(W, b, X, y)
        dW, db = backward_propagation(X, A, y)
        W = W - learning_rate * dW
        b = b - learning_rate * db
        if i % 100 == 0:
            costs.append(cost)
    params = {"W": W, "b": b}
    gradients = {"dW": dW, "db": db}
    return params, gradients, costs

def predict(W, b, X):
    data_number = X.shape[0]
    y_prediction = np.zeros((1, data_number))
    Z = np.dot(W, X.T) + b
    A = kernel_sigmoid(Z)
    for i in range(A.shape[1]):
        y_prediction[0, i] = 1 if A[0, i] > 0.5 else 0
    return y_prediction

def model_regresion_logistico(X_train, y_train, X_val, y_val, num_iterations=2000, learning_rate=0.5):
    dimensions = X.shape[1]
    W = np.zeros(shape=(1, dimensions))
    b = 0
    params, gradients, costs = optimize(W, b, X_train, y_train, num_iterations, learning_rate)
    W = params["W"]
    b = params["b"]
    y_prediction_validation = predict(W, b, X_val)
    y_prediction_train = predict(W, b, X_train)
    lista = {
        "Ajuste entrenamiento": 100 - np.mean(np.abs(y_prediction_train - y_train)) * 100,
        "Ajuste testeo": 100 - np.mean(np.abs(y_prediction_validation - y_val)) * 100,
        "Costo en proceso": costs
    }
    return lista

# https://ellibrodepython.com/tiempo-ejecucion-python, se tomo: 
#def mide_tiempo(funcion):
    #def funcion_medida(*args, **kwargs):
        #inicio = time.time()
        #c = funcion(*args, **kwargs)
        #print(time.time() - inicio)
        #return c
    #return funcion_medida
    
def medir_tiempo(func, *args, **kwargs):
    tiempos = []
    for i in range(1, 11):
        inicio = time.time()
        func(*args, **kwargs)
        fin = time.time()
        tiempos.append((i, fin - inicio))
    return tiempos

#Datos 
datos = pd.read_csv("Diabetes.txt")
X = np.array(datos.drop(["Outcome"], axis=1))
y = np.array(datos["Outcome"])
X = (X - np.min(X)) / (np.max(X) - np.min(X))

# Separa la muestra
X_train, X_val, y_train, y_val = train_test_split(
    X, 
    y,  
    random_state=None,  
    test_size=0.20  )

# Ejecucion para el dado
tiempos_custom = medir_tiempo(model_regresion_logistico, X_train, y_train, X_val, y_val, num_iterations=1000, learning_rate=0.003)

# Ejecucións para LogisticRegression 
tiempos_sklearn = medir_tiempo(LogisticRegression().fit, X_train, y_train) #ver link de arriba 

# resultados
resultados = pd.DataFrame({
    "Run": [i for i in range(1, 11)],
    "tiempos original": [tiempo[1] for tiempo in tiempos_custom],
    "tiempos sklearn": [tiempo[1] for tiempo in tiempos_sklearn]
})

print(resultados)

conn = sqlite3.connect('resultados.db')

resultados.to_sql('resultados_original_vs_sklearn', conn, if_exists='replace', index=False)

   Run  tiempos original  tiempos sklearn
0    1          0.057725         0.000000
1    2          0.074171         0.008358
2    3          0.079072         0.000000
3    4          0.071518         0.000000
4    5          0.074288         0.008031
5    6          0.066589         0.000000
6    7          0.069170         0.008548
7    8          0.065160         0.000000
8    9          0.065900         0.000000
9   10          0.074208         0.007916

10

## Comparar los 3

In [17]:

# Medir tiempos de ejecución
def medir_tiempo(func, *args, **kwargs):
    tiempos = []
    for i in range(1, 11):
        inicio = time.time()
        func(*args, **kwargs)
        fin = time.time()
        tiempos.append((i, fin - inicio))
    return tiempos

# Datos
datos = pd.read_csv("Diabetes.txt")
X = np.array(datos.drop(["Outcome"], axis=1))
y = np.array(datos["Outcome"])
X = (X - np.min(X)) / (np.max(X) - np.min(X))

# Separar los datos en conjuntos de entrenamiento y validación
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.20, random_state=42)

# Ejecución de los modelos
tiempos_original = medir_tiempo(model_regresion_logistico, X_train, y_train, X_val, y_val, num_iterations=1000, learning_rate=0.003)
tiempos_optimizado = medir_tiempo(model_regresion_logistico_optimizado, X_train, y_train, X_val, y_val, num_iterations=1000, learning_rate=0.003)
tiempos_sklearn = medir_tiempo(LogisticRegression().fit, X_train, y_train)

# Resultados
resultados = pd.DataFrame({
    "Run": [i for i in range(1, 11)],
    "Tiempos Original": [tiempo[1] for tiempo in tiempos_original],
    "Tiempos Optimizado": [tiempo[1] for tiempo in tiempos_optimizado],
    "Tiempos Sklearn": [tiempo[1] for tiempo in tiempos_sklearn]
})

print(resultados)

# Guardar resultados en una base de datos SQLite
conn = sqlite3.connect('resultados.db')
resultados.to_sql('resultados_original_vs_optimizado_vs_sklearn', conn, if_exists='replace', index=False)
conn.close()

   Run  Tiempos Original  Tiempos Optimizado  Tiempos Sklearn
0    1          0.073725            0.075573         0.000000
1    2          0.066399            0.073939         0.008663
2    3          0.077556            0.076442         0.000000
3    4          0.072441            0.082555         0.008029
4    5          0.072755            0.076649         0.000000
5    6          0.074597            0.075744         0.000000
6    7          0.067172            0.083023         0.008727
7    8          0.066013            0.067794         0.000000
8    9          0.074169            0.075104         0.008068
9   10          0.066203            0.075094         0.000000

### Los cambios estan comentados en los codigos anteriores a la comparacion de los 3 modelos

El modelo original muestra tiempos de ejecución más largos en comparación con las otras mejoras, ya que en el original las funciones no estan vectorizadas.
La versión optimizada del modelo utiliza operaciones vectorizadas, lo que resulta en una mejora significativa en los tiempos de ejecución en comparación con el modelo original. Aunque es más eficiente que la implementación original, aún es superado por la eficiencia de la implementación de sklearn.linear_model.
La implementación utilizando sklearn.linear_model es la más eficiente respecto a los  tiempo de ejecución. Esto se debe a que scikit-learn está altamente optimizado https://serinteligenciaartificial.com/scikit-learn/

# Ignorar

In [18]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import time
import sqlite3

# Para el modelo original
def kernel_sigmoid(z):
    return 1 / (1 + np.exp(-z))

def forward_propagation(W, b, X, y):
    data_number = X.shape[0]
    Z = np.dot(W, X.T) + b
    A = kernel_sigmoid(Z)
    cost = (-1 / data_number) * np.sum(y * np.log(A) + (1 - y) * (np.log(1 - A)))
    return A, cost

def backward_propagation(X, A, y):
    data_number = X.shape[0]
    dW = (1 / data_number) * np.dot((A - y), X)
    db = (1 / data_number) * np.sum(A - y)
    return dW, db

def optimize(W, b, X, y, num_iterations, learning_rate):
    costs = []
    for i in range(num_iterations):
        A, cost = forward_propagation(W, b, X, y)
        dW, db = backward_propagation(X, A, y)
        W -= learning_rate * dW
        b -= learning_rate * db
        if i % 100 == 0:
            costs.append(cost)
    params = {"W": W, "b": b}
    gradients = {"dW": dW, "db": db}
    return params, gradients, costs

def predict(W, b, X):
    Z = np.dot(W, X.T) + b
    A = kernel_sigmoid(Z)
    y_prediction = (A > 0.5).astype(int)
    return y_prediction

def model_regresion_logistico(X_train, y_train, X_val, y_val, num_iterations=2000, learning_rate=0.5):
    dimensions = X_train.shape[1]
    W = np.zeros(shape=(1, dimensions))
    b = 0
    params, gradients, costs = optimize(W, b, X_train, y_train, num_iterations, learning_rate)
    W = params["W"]
    b = params["b"]
    y_prediction_validation = predict(W, b, X_val)
    y_prediction_train = predict(W, b, X_train)
    lista = {
        "Ajuste entrenamiento": 100 - np.mean(np.abs(y_prediction_train - y_train)) * 100,
        "Ajuste testeo": 100 - np.mean(np.abs(y_prediction_validation - y_val)) * 100,
        "Costo en proceso": costs
    }
    return lista

# Funciones para el modelo optimizado
def model_regresion_logistico_optimizado(X_train, y_train, X_val, y_val, num_iterations=2000, learning_rate=0.5):
    dimensions = X_train.shape[1]
    W = np.zeros(shape=(1, dimensions))
    b = 0
    params, gradients, costs = optimize(W, b, X_train, y_train, num_iterations, learning_rate)
    W = params["W"]
    b = params["b"]
    y_prediction_validation = predict(W, b, X_val)
    y_prediction_train = predict(W, b, X_train)
    lista = {
        "Ajuste entrenamiento": 100 - np.mean(np.abs(y_prediction_train - y_train)) * 100,
        "Ajuste testeo": 100 - np.mean(np.abs(y_prediction_validation - y_val)) * 100,
        "Costo en proceso": costs
    }
    return lista